/* @group Colors */

.fbsmp-inner-expanded,
.fbsmp-edit-wrapper-outer,
.fbsmp-link-header,
.fbsmp-photo-header,
.fbsmp-video-header,
.fbsmp-slideshare-header {
  border-color: #CCCCCC;
}

form .fbsmp-inner-expanded input.fbsmp-cancel-button {
  background-color: #CCCCCC;
  border-color: #AAAAAA;
}

.fbsmp-link-title-text-editable:hover, .fbsmp-link-description-text-editable:hover {
  background-color: #FFFFA0;
}

/* @end */

/* Structural */

.fbsmp {
  display: block;
  padding: 1em;
}

/* @group Icon buttons */

/* Button list */

.fbsmp-inner-collapsed {
  float: right;
  min-height: 30px;
}

.fbsmp-icon-list {
  margin: 4px 4px 0 0;
}

.fbsmp-plugin-icon {
  position: relative;
  z-index: 19;
  float: left;
}

.fbsmp-icon-list input {
  margin: 0;
  padding: 0;
}

/* Tooltips */

div.fbsmp-plugin-tool-tip {
  display: none;
}

div.fbsmp-plugin-icon:hover div.fbsmp-plugin-tool-tip  {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  background: url(images/icon_tool_arrow.png) no-repeat scroll left bottom transparent;
  padding-bottom: 4px;
}

span.fbsmp-plugin-tool-tip-text {
  background-color: #222222;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 4px 8px;
  white-space: nowrap;
}

/* Buttons */

input.fbsmp-plugin-icon-button {
  background: none;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  padding: 1px 4px;
  display: block;
}

input.fbsmp-plugin-icon-button:hover {
  background: url(images/button.gif) repeat-x scroll 0 0 #DDDDDD;
  border-color: #BBBBBB #BBBBBB #999999;
}

/* @end */

/* @group Expanded forms */

.fbsmp-wrapper-outer {
  z-index: 10;
}

.fbsmp-inner-expanded {
  border-style: solid;
  border-width: 1px;
  margin: 0.5em 0;
  padding: 1em;
  overflow: hidden;
}

/* Header (displays the plugin type) */

.fbsmp-link-header,
.fbsmp-photo-header,
.fbsmp-video-header,
.fbsmp-slideshare-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 1em;
  min-height: 1.5em;
  padding-bottom: 0.8em;
}

.link-message,
.photo-message,
.video-message,
.slideshare-message {
  float: left;  
}

/* Cancel button */

form .fbsmp-inner-expanded input.fbsmp-cancel-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  float: right;
  height: 1em;
  margin: 0px;
  padding: 2px 3px;
  width: 1em;
}

/* Edit form */

.fbsmp-edit-wrapper-outer {
  border-style: solid;
  border-width: 1px;
  clear: left;
  display: block;
  float: left;
  margin: 1em 0.5em 0.5em 0;
  padding: 0.5em;
}

.fbsmp-edit-plugin-header {
  margin-top: 1em;
}

.fbsmp-edit-form-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* @end */

/* Link plugin */

.fbsmp-link-thumbnail {
  float: left;
  margin-right: 0.5em;
}

.fbsmp-link-images {
  float: left;
  padding: 0 1em 1em 0;
}

#edit-fbsmp-link-no-thumbnail-wrapper {
  float: right;
}

.fbsmp-inner-expanded .form-item label {
  display: inline;
}

.fbsmp-link-title-text-editable, .fbsmp-link-description-text-editable {
  text-align: left;
  direction: ltr;
  max-width: 400px;
}

.fbsmp-link-chars {
  padding-left: 0.5em;
}

.fbsmp-link-title {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* SlideShare plugin */

#edit-fbsmp-slideshare-title-wrapper {
  margin-bottom: 5px;  
}

#edit-fbsmp-slideshare-title-wrapper label {
  float: left;
  margin-right: 2px;  
}
